:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.skip-link {
  position: absolute;
  top: var(--dn-space-4);
  left: var(--dn-space-4);
  z-index: 10;
  translate: 0 -200%;

  &:focus {
    translate: 0 0;
  }
}
